*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:rgb(77, 198, 245)
}

.wrapper{
    width:420px;
    background:rgba(255,255,255,0.82);
    color: black;

}
.wrapper h2{
    font-size:36px;
    text-align: center;
    color: rgb(160, 104, 30);

}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background: rgb(233, 208, 175);
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
    overflow: hidden;
}

.wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 8px;
    font-size: 16px;
}
.input-box i {
    font-size: 20px;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
    margin: -15px 0 15px;
    
}